body{
	font-family: Arial, Verdana, sans-serif;
}
th {
  font-style: italic;
  font-style: bold;
}
td{
}
.collapse{
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: skyblue;
  color: black;
}
tr:nth-child(odd) {
  background-color: powderblue;
  color: black;
}

