/* main body */
body{
	font-family: Arial, Verdana, sans-serif;
	background-color: black;
	color: #ddd;
}

.resume-h1 {
	font-style: italic;
	color: rgb(46,116,181);
	text-align: center;}

.resume-h2 {
	font-style:italic;
}
.resume-h3{
	color: rgb(46,116,181);
}

.center-text{
	text-align: center;
}

.page-header{
	text-align: center;
	margin-right: 350px;
	font-style: italic;
}

#recipe-top{
	margin-right: 435px;
}

/* use floats to make recipe page appear in columns*/

.recipe-photo{
	float: left;
	width: 375px;
	margin: 10px;
}

.recipe-steps {
	float: left;
	width: 400px;
	margin: 10px;
}

.recipe-ingredient{
	float: left;
	width: 400px;
	margin: 10px;
	margin-top: 27px;
}

.clear{
	clear:left;
	border-bottom: 2px solid #D3D3D3;
	width: 1275px;
}

p {
	text-align: left;
}

h1, h2{
	font-style: italic;
}


img {
	border-style: solid;
	border-width: medium;
	border-color: #ddd;
}


a:link {
	text-decoration: none;
	color: dodgerblue;
}

a:visited{
	text-decoration: none;
	color: #DA70D6;
}

a:hover{
	text-decoration: underline;
	color: white;
}

/* Add a grey background color to the top navigation */
.topnav {
  background-color: #8888;
  overflow: hidden;
	margin-left: 17%;
	margin-right: 17%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(46,116,181);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

	.topnav{
		margin-left: 2%;
		margin-right: 2%;
	}
}

.main{
	width: 60%;
	margin: auto;
}

.headshot {
	align-items: center;
	justify-content: center;
	position: relative;
	display: flex;
}

/* mobile version of headshot picture */
.headshot-mobile{
	display:none;
}

/* Build grid for Resume */
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }

.resume-grid {
	display: grid;
	grid-template-areas:
		'item1 item1 item1 item1'
		'item3 item4 item4 item4'
		'item3 item4 item4 item4'
		'item5 item4 item4 item4'
		'item5 item4 item4 item4'
		'item6 item6 item6 item6'
		'item7 item7 item7 item7';
	grid-gap: 30px;
	background-color: #8888;
	color: #ddd;
	padding-left: 20px;
	padding-right: 5px;
	grid-template-columns: 25% 25% 25% 13%;
	margin-left: 17%;
	margin-right: 17%;
	margin-top: 30px;
}

.resume-heading {
	text-align: center;
	background-color: rgb(46,116,181);
	margin-right: 0px;
}

.resume-list > li{
	overflow-wrap: anywhere;
}

/* make Resume page responsive */
@media screen and (max-width: 600px){
	.resume-grid{
		margin: top 30px;
		margin-left: 2%;
		margin-right: 2%;
		padding: auto;
		grid-gap: 0px;
		grid-template-columns: 1fr;
		grid-template-areas:
			"item1"
			"item3"
			"item4"
			"item5"
			"item6"
			"item7";

	}
	.resume-heading {
		margin-right: 20px;
	}

	.main{
		margin-left: 5px;
		margin-right: 5px;
		width: auto;
	}
	.btn-next{
		float: none;
		margin-right: 0px;
	}
}

/* Build grid for Home Page */
.home-header{
	grid-area: home-header;
}

.home1 {
	grid-area: home1;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.home2 {
	grid-area: home2;
	margin-left: 200px;
	margin-right: 200px;
	}

	.home-footer{
		grid-area: home-footer;
	}

.home-grid {
	display: grid;
	grid-template-areas:
		'home-header'
		'home1'
		'home2'
		'home-footer';
	grid-gap: 25px;
	background-color: #8888;
	color: #ddd;
	grid-template-columns: 1fr;
	margin-left: 17%;
	margin-right: 17%;
	margin-top: 30px;
}

/* Make Home page responsive */
@media screen and (max-width: 600px){
		.home-grid {
			margin-left: 2%;
			margin-right: 2%;
			padding: auto;
		}
		.headshot {
			display: none;
		}
		.headshot-mobile {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
		}
		.home2{
			margin-left: 15px;
			margin-right: 15px;
		}
	}

/* Build grid for Photos page */
.photo-header{
	grid-area: photo-header;
}

.photo1 {
	grid-area: photo1;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
}

.photo2 {
	grid-area: photo2;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	/*margin-top: 30px;*/
	margin-right: 2%;
}

.photo-footer{
	grid-area: photo-footer;
}

.photos-grid {
	display: grid;
	grid-template-areas:
		'photo-header'
		'photo1'
		'photo2'
		'photo-footer';
	grid-gap: 25px;
	background-color: #8888;
	color: #ddd;
	padding-left: 20px;
	grid-template-columns: auto;
	margin-left: 17%;
	margin-right: 17%;
	margin-top: 30px;
}

.img-box img{
	width: 100%;
}

/* Styling for figure and fig caption on Photos page */
figure {
	display: inline-block;
	margin: 0px;
}

figcaption {
	text-align: center;
	font-style: italic;
}

.btn{
	border:none;
	outline:none;
	background:#8888;
	padding: 10px 30px;
	font-size:20px;
	color: #ddd;
	cursor: pointer;
	margin: 10px auto;
}

.btn-next{
	float: right;
	margin-right: 0px;
}

.btn:hover{
	background:rgb(46,116,181);
}

/* Make Photos page responsive */
@media screen and (max-width: 600px){
		.photos-grid {
			margin-left: 2%;
			margin-right: 2%;
			padding: auto;
		}

		.photo1{
			margin-left: .5%;
			margin-right: 5%;
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
		}

		.photo2{
			margin-left: .5%;
			margin-right: 6%;
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
		}
	}

/* Contact Grid */
.contact1 { grid-area: contact1; }

.contact-grid {
	display: grid;
	grid-template-areas:
		'contact1';
	grid-gap: 25px;
	background-color: #8888;
	color: #ddd;
	padding-left: 20px;
	grid-template-columns: auto;
	margin-left: 17%;
	margin-right: 17%;
	margin-top: 30px;
}


.form-control{
	width: 500px;
}
