/* main body */
body{
	font-family: Arial, Verdana, sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	background-color: black;
	color: #ddd;
}

.resume-h1 {
	font-style: italic;
	color: rgb(46,116,181);
	text-align: center;}

.resume-h2 {
	font-style:italic;
}
.resume-h3{
	color: rgb(46,116,181);
}

.center-text{
	text-align: center;
}

.page-header{
	text-align: center;
	margin-right: 350px;
	font-style: italic;
}

#recipe-top{
	margin-right: 435px;
}

/* use floats to make recipe page appear in columns*/

.recipe-photo{
	float: left;
	width: 375px;
	margin: 10px;
}

.recipe-steps {
	float: left;
	width: 400px;
	margin: 10px;
}

.recipe-ingredient{
	float: left;
	width: 400px;
	margin: 10px;
	margin-top: 27px;
}

.clear{
	clear:left;
	border-bottom: 2px solid #D3D3D3;
	width: 1275px;
}

p {
	text-align: left;
}

h1, h2{
	font-style: italic;
}


img {
	border-style: solid;
	border-width: medium;
	border-color: #ddd;
}


a:link {
	text-decoration: none;
	color: dodgerblue;
}

a:visited{
	text-decoration: none;
	color: #DA70D6;
}

a:hover{
	text-decoration: underline;
	color: white;
}

/* Add a grey background color to the top navigation */
.topnav {
  background-color: #8888;
  overflow: hidden;
	margin-left: 17%;
	margin-right: 17%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(46,116,181);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*
.main{
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
}
*/
.slider{
	margin: 50px auto;
	width: 50%;
}

.img-box img{
	width: 100%;
}

.btn{
	border:none;
	outline:none;
	background:#8888;
	padding: 10px 30px;
	font-size:20px;
	color: #ddd;
	cursor: pointer;
	margin: 10px auto;
}

.btn:hover{
	background:rgb(46,116,181);
}

.headshot {
	display: block;
	margin: 50px auto auto;
}

/* Build grid for Resume */
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }

.resume-grid {
	display: grid;
	grid-template-areas:
		'item1 item1 item1 item1'
		'item3 item4 item4 item4'
		'item3 item4 item4 item4'
		'item5 item4 item4 item4'
		'item5 item4 item4 item4'
		'item6 item6 item6 item6'
		'item7 item7 item7 item7';
	grid-gap: 25px;
	background-color: #8888;
	color: #ddd;
	padding-left: 20px;
	grid-template-columns: 20% 25% 25% 17%;
	margin-left: 17%;
	margin-right: 17%;
	margin-top: 30px;
}

.resume-heading {
	text-align: center;
	background-color: rgb(46,116,181);
}

.resume-list > li{
	overflow-wrap: anywhere;
}

/* make Resume page responsive */
@media screen and (max-width: 600px){
	.resume-grid{
		margin: top 30px;
		margin-left: 0px;
		margin-right: 0px;
		padding: auto;
		grid-gap: 0px;
		grid-template-columns: 1fr;
		grid-template-areas:
			"item1"
			"item3"
			"item4"
			"item5"
			"item6"
			"item7";

	}
	.resume-heading {
		margin-right: 20px;
	}
}

figure {
	display: inline-block;
	margin: 0px;
}

figcaption {
	text-align: center;
	font-style: italic;
}


