<!DOCTYPE html>
	<html lang="en-us">
		<head>
			<title>Rob Peters: Recipes</title>
			<link href="css/styles.css" type="text/css" rel="stylesheet"/>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<script src="js/projectjs.js" defer></script>
		</head>
		<body>
			<div id="top"></div>
			<nav class="topnav" id="myTopNav">
				<a href="index.html">Home</a>
				<a href="resume.html">Resume</a>
				<a href="travel.html">Photos</a>
				<a href="cooking.html" class="active">Recipes</a>
				<a href="contact.html">Contact</a>
				<a href="javascript:void(0);" class="icon" onclick="navFunction();">
						<i class="fa fa-bars"></i>
				</a>
			</nav>

		<div class="recipes-grid" id="recipe">
			<div class="section recipe-intro">
				<p>I have recently found a love for cooking. The joy that comes from preparing
				and sharing a wonderful meal with friends and family is unrivaled. Below
				 you'll find some of my favorite recipes accompanied by an image of
			 the prepared dish. </p>
			</div>
			<div class="section recipe1-title recipe-title">Chicken Thighs with Creamy Mustard Sauce</div>
			<div class="section recipe1-pic">
				<figure>
					<img src="images/chickenthighs.jpeg" alt="Chicken thighs in a creamy mustard sauce" style="max-width:100%;height:auto;">
					<br />
					<figcaption>Chicken Thighs in a creamy mustard sauce</figcaption>
				</figure>
			</div>
			<div class="section recipe1-ing">
				<ul>
					<li v-for="ingredient in creamychicken">{{ ingredient }}</li>
				</ul>
			</div>
			<div class="section recipe1-ins">
				<div>
					<p>Place the chicken thighs on a cutting board, skin side up, and pat them dry with paper towels.
					Sprinkle the chicken with 1.5 teaspoons of salt and .75 teaspoon of pepper. Turn them over and
					sprinkle them with one more teaspoon of salt.</p>
					<p>Heat 1 tablespoon of olive oil in a large (11 to 12-inch) cast iron skillet over medium heat.
					When the oil is hot, place the chicken in the pan in one layer, skin side down. Cook over medium
					heat for 15 minutes without moving, until the skin is golden brown. Turn the chicken pieces with
					tongs, add the onions to the pan, including under the chicken, and cook over medium heat for 15
					minutes, stirring the onions occasionally, until the thighs are cooked to 155 to 160 degrees and
					the onions are browned. Transfer the chicken (not the onions) to a plate and allow to rest uncovered
					while you make the sauce. If the onions aren't browned, cook them for another minute. </p>
					<p>Add the wine, creme fraiche, Dijon mustard, whole-grain mustard, and 1 teaspoon of salt to the
					skillet and stir over medium heat for one minute. Return the chicken, skin side up, and the juices
					to the skillet, sprinkle with parsley, and serve hot.</p>
				</div>
			</div>
			<div class="section recipe2-title recipe-title">Weeknight Bolognese</div>
			<div class="section recipe2-pic">
				<figure>
					<img src="images/bolognese.jpeg" alt="Bolognese pasta with fresh Parmesan" style="max-width:100%;height:auto;">
					<br />
					<figcaption>Bolognese pasta with fresh Parmesan</figcaption>
				</figure>
			</div>
			<div class="section recipe2-ing">
				<ul>
					<li v-for="ingredient in bolognese">{{ ingredient }}</li>
				</ul>
			</div>
			<div class="section recipe2-ins">
				<p>Heat 2 tablespoons of olive oil in large (12-inch) skillet over medium-high heat. Add
				the ground sirloin and cook, crumbling the meat with a wooden spoon, for 5 to 7 minutes,
				until the meat has lost its pink color and has started to brown. Stir in the garlic, oregano,
				and red pepper flakes and cook for 1 more minute. Pour 1 cup of the wine into the skillet and
				stir to scrape up any browned bits. Add the tomatoes, tomato paste, 1 tablespoon salt, and
				1.5 teaspoons pepper, stirring until combined. Bring to a boil, lower the heat, and simmer for 10 minutes.</p>
				<p>Meanwhile, bring a large pot of water to a boil, add a tablespoon of salt, a splash of oil,
				and the pasta, and cook according to the directions on the box. While the pasta cooks, finish the
				sauce. Add the nutmeg, basil, cream, and the remaining 1/4 cup of wine to the sauce and simmer
				for 8 to 10 minutes, stirring occasionally until thickened. When the pasta is cooked, drain
				and pour into a large serving bowl. Add the sauce and 1/2 cup of Parmesan and toss well.
				Serve hot with Parmesan on the side.</p>
			</div>
			<div class="section recipe3-title recipe-title">Panna Cotta with fresh Raspberry Sauce</div>
			<div class="section recipe3-pic">
				<figure>
					<img src="images/pannacotta.jpeg" alt="Panna Cotta with Fresh Raspberries" style="max-width:100%;height:auto;">
					<br />
					<figcaption>Panna Cotta at Christmas</figcaption>
				</figure>
			</div>
			<div class="section recipe3-ing">
				<ul>
					<li v-for="ingredient in pannacotta">{{ ingredient }}</li>
				</ul>
			</div>
			<div class="section recipe3-ins">
				<p>In a small bowl, sprinkle the gelatin on 3 tablespoons cold water. Stir and set aside for 10
				minutes to allow the gelatin to dissolve. Meanwhile, in a large bowl, whisk together 1.5 cups of
				the cream, the yogurt, vanilla extract, and vanilla seeds. Heat the remaining 1.5 cups of cream
				and the sugar in a small saucepan and bring to a simmer over medium heat just until the sugar
				dissolves. Off the heat, stir the softened gelatin into the hot cream and stir until dissolved.
				Pour the hot crema and gelatin mixture into the cream and yogurt mixture and stir in the Grand
				Marnier. Pour into 7 or 8 serving glasses and refrigerate uncovered until cold. When the panna
				cottas are thoroughly chilled, cover them with plastic wrap and refrigerate overnight. Before
				serving, spoon 2 tablespoons of the fresh raspberry sauce on each panna cotta and top with
				fresh raspberries. Serve cold.</p>
			</div>
			<div class="section recipe-footer">
				<b><a href="#top">Top of Page</a></b>
			</div>
		</div>

			<!-- Include VUE -->
			<script src="https://cdn.jsdelivr.net/npm/vue"></script>
			<!-- Create VUE instance, ingredients for each recipe-->
			<script>
				var recipe = new Vue({
					el: '#recipe',
					data: {
						creamychicken: [
							'8 medium bone-in, skin-on chicken thighs (2.25 pounds)',
							'Kosher salt and freshly ground black pepper',
							'Good olive oil',
							'2 cups halved thinly sliced yellow onions (2 onions)',
							'2 tablespoons dry white wine',
							'8 ounces creme fraiche',
							'1 tablespoon good Dijon mustard',
							'1 teaspoon whole-grain mustard',
							'1 tablespoon chopped fresh parsley'
						],
						bolognese: [
						  '2 tablespoons good olive oil, plus extra to cook the pasta',
						  '1 pound lean ground sirloin',
						  '4 teaspoons minced garlic (4 cloves)',
						  '1 tablespoon dried oregano',
						  '1/4 teaspoon crushed red pepper flakes',
						  '1.25 cups dry red win, divided',
						  '1 28-ounce can crushed tomatoes',
						  '2 tablespoons tomato paste',
						  'Kosher salt and freshly ground black pepper',
						  '3/4 pound dried pasta, such as orecchiette or small shells',
						  '1/4 teaspoon ground nutmeg',
						  '1/4 cup chopped fresh basil leaves',
						  '1/4 cup heavy cream',
						  '1/2 cup freshly grated Parmesan cheese'
						],
						pannacotta: [
							'2 teaspoons (1 packet) unflavored gelatin',
							'3 cups heavy cream, divided',
							'2 cups plain whole mile yogurt',
							'2 teaspoons pure vanilla extract',
							'Seeds scraped from 1 vanilla bean',
							'3/4 cup sugar',
							'2 tablespoons Grand Marnier liquer',
							'Fresh Raspberry Sauce',
							'2 (6-ounce) packages fresh raspberries'
						]
					}
				})
			</script>
		</body>
	</html>
