body {
	background-color: black;
}

figcaption {
	text-align: center;
	font-style: italic;
}

.container {
	display: grid;
	grid-template-areas:
		'recipe-intro'
		'item2'
		'item3'
		'item4'
		'item5'
		'item6-header'
		'item6'
		'item7'
		'item8'
		'item9-header'
		'item9'
		'item10'
		'item11'
		'recipe-footer';
	grid-template-columns: 1fr 1fr;
	background-color: #8888;
	color: #ddd;
	grid-gap: 5px;
	/*padding-left: 20px;
	padding-right: 5px;*/
	position: relative;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	margin-left: 17%;
	margin-right: 17%;

}


/* Row Count 1 */
.recipe-intro {
	grid-area: recipe-intro;
	grid-column: 1 / span 2;
	margin-top: 30px;
	margin-left: 2%;
	margin-right: 2%;
	align-content: center;
	justify-content: center;
	padding-left: 2%;
	padding-right: 2%;
}
/* Row Count 2 */
.item2 {
	grid-area: item2;
	grid-column: 1 / span 2;
	margin-left: 2%;
	margin-right: 2%;
	align-content: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(46,116,181);
}
/* chicken thighs figure */
/* Row Count 3 */
.item3 {
	grid-area: item3;
	grid-row: 3 / span 2;
	margin-left: 4%;
}

/* ingredient list for chicken thighs */
.item4{
	grid-area: item4;
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
	margin-right: 4%;
}
/* instructions for chicken */
.item5{
	grid-area: item5;
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
	padding-left: 6%;
	margin-right: 4%;
}
/* Row Count 5 */
.item6-header {
	grid-area: item6-header;
	grid-column: 1 / span 2;
	grid-row: 5 / span 1;
	margin-left: 2%;
	margin-right: 2%;
	align-content: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(46,116,181);
}
/* figure for bolognese */
.item6 {
	grid-area: item6;
	grid-column: 1 / span 1;
	grid-row: 6 / span 2;
	margin-left: 4%;
}

/* ingredients for bolognese */
.item7{
	grid-area: item7;
	grid-column: 2 / span 1;
	grid-row: 6 / span 1;
	margin-right: 4%;
}

/* instructions for bolognese */
.item8{
	grid-area: item8;
	grid-column: 2 / span 1;
	grid-row: 7 / span 1;
	margin-right: 4%;
	padding-left: 6%;
}

/* item 9 header */
.item9-header {
	grid-area: item9-header;
	grid-column: 1 / span 2;
	grid-row: 8 / span 1;
	margin-left: 2%;
	margin-right: 2%;
	align-content: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(46,116,181);
}

/* figure for panna cotta */
.item9 {
	grid-area: item9;
	grid-column: 1 / span 1;
	grid-row: 9 / span 2;
	margin-left: 4%;
}

/* ingredients for panna cotta */
.item10{
	grid-area: item10;
	grid-column: 2 / span 1;
	grid-row: 9 / span 1;
	margin-right: 4%;
}

/* instructions for panna cotta */
.item11{
	grid-area: item11;
	grid-column: 2 / span 1;
	grid-row: 10 / span 1;
	margin-right: 4%;
	padding-left: 6%;
}

.recipe-footer{
	grid-area: recipe-footer;
	grid-column: 1 / span 2;
	grid-row: 11 / span 1;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 30px;
	align-content: center;
	justify-content: center;
	text-align: center;
}

@media screen and (max-width: 600px) { /*breakpoint*/
  .container {
    grid-template-columns: none;
		grid-template-rows: none;
		margin-left: 2%;
		margin-right: 2%;
  }
	.recipe-intro {;
		grid-column: 1 / span 1;
	}

	.item2 {
		grid-column: 1 / span 1;
	}

	.item3 {
		grid-row: 3 / span 2;
		margin-left: 2%;
		margin-right: 2%;
	}

	.item4{
		grid-column: 1 / span 1;
		grid-row: 5 / span 1;
		margin-left: 2%;
		margin-right: 2%;
	}

	.item5{
		grid-column: 1 / span 1;
		grid-row: 6 / span 1;
		margin-left: 2%;
		margin-right: 2%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.item6-header{
		grid-column: 1/ span 1;
		grid-row: 7 / span 1;
	}

	.item6 {
		grid-column: 1 / span 1;
		grid-row: 8 / span 2;
		margin-left: 2%;
		margin-right: 2%;
	}

	.item7{
		grid-column: 1 / span 1;
		grid-row: 10 / span 1;
		margin-left: 2%;
		margin-right: 2%;
	}

	.item8{
		grid-area: item8;
		grid-column: 1 / span 1;
		grid-row: 11 / span 1;
		margin-left: 2%;
		margin-right: 2%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.item9-header{
		grid-column: 1/ span 1;
		grid-row: 12 / span 1;
	}

	.item9 {
		grid-column: 1 / span 1;
		grid-row: 13 / span 2;
		margin-left: 2%;
		margin-right: 2%;
	}

	.item10{
		grid-column: 1 / span 1;
		grid-row: 15 / span 1;
		margin-left: 2%;
		margin-right: 2%;
	}

	.item11{
		grid-column: 1 / span 1;
		grid-row: 16 / span 1;
		margin-left: 2%;
		margin-right: 2%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.recipe-footer {
		grid-column: 1/ span 1;
		grid-row: 17/ span 1;
	}
}
